@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}

body {

    background-color: #fff;
}

object {
    overflow: hidden;
    width: 100%;
    height:100%;
}

footer , header{
    background-color: #ff9933;
}

footer{
    margin-top: 20px;
    height: 50px;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}

img {
    width: 1000px;
    height: auto;
}

.logo {
    width: 100px;
    height: 100px;
}

nav{
    height: 60px;
    padding: 15px;
    background-color: #ff9933;
    display: flex;
    align-items: center;
    text-align: center;
}

nav ul{
    display: flex;
    position: absolute;
    padding: 0;
    list-style: none;
}

nav li {
    list-style: none;
    padding: 30px;
    position: relative;
    transition: all .3s ease-in-out;  
}

nav li:hover{
    background-color: #fff;
    border-radius: 100%;
}

li {
    position: center;
    float: right;
    width: 150px;
}

.hidden {
    display: none;
}

.hidden ul{
    left: 0;
    margin-top: 25px;
}

.hidden:hover ul{
    display: block;
    background-color: #ff9933;
}

.destaque {
    color: red;
}

